<style type="text/css">
.tg  {border-collapse:collapse;border-color:#aaa;border-spacing:0;}
.tg td{background-color:#fff;border-color:#aaa;border-style:solid;border-width:1px;color:#333;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tr-1{background-color:sienna;border-color:#aaa;border-style:solid;border-width:1px;color:#fff;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tr-2{background-color:#f2f2f2;border-color:#aaa;border-style:solid;border-width:1px;color:#333;}
.tg .tg-lboi{border-color:inherit;text-align:left;vertical-align:top;text-align: center;}
.tg .tg-yg9r{border-color:inherit;font-size:18px;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-auka{font-size:26px;text-align:left;vertical-align:top; text-align: center;}
.tg .tg-fymr{border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<h1 class="program-title">Program</h1>
<p class="program-description">The program of the workshop is available below. 
  The workshop will take place on September 1st, 2025, from 14:00 to 17:00 in Room Utrera at the BPM 2025 conference in Seville, Spain. 
  Please refer to the <a href="https://www.bpm2025seville.org/" target="_blank">conference website</a> for venue information.</p>
<p class="program-note">Note: The program is subject to change.</p>
<table class="tg"><thead>
  <tr class="tr-1">
    <th class="tg-auka" colspan="4">September 1st, 14:00-17:00, Room Utrera</th>
  </tr>
  <tr class="tr-2">
    <th class="tg-yg9r">Time</th>
    <th class="tg-yg9r">Type</th>
    <th class="tg-yg9r">Title</th>
    <th class="tg-yg9r">Speaker/Authors</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-fymr">14:00-15:00</td>
    <td class="tg-0pky">Keynote</td>
    <td class="tg-0pky">Beyond the Hype: Blockchain meets BPM - Challenges on the Plains</td>
    <td class="tg-0pky">Julius Köpke, University of Klagenfurt, Austria</td>
  </tr>
  <tr>
    <td class="tg-fymr">15:00-15:30</td>
    <td class="tg-0pky">Paper presentation</td>
    <td class="tg-0pky"><a href="{{ '/assets/papers/BPM_2025_paper_383.pdf' | relative_url }}" target="_blank">On LLM-Assisted Generation of Smart Contracts from Business Processes</a></td>
    <td class="tg-0pky">Fabian Stiehle, Hans Weytjens and Ingo Weber</td>
  </tr>
  <tr>
    <td class="tg-fymr">15:30-16:00</td>
    <td class="tg-lboi" colspan="3">Coffee break</td>
  </tr>
  <tr>
    <td class="tg-fymr">16:00-16:30</td>
    <td class="tg-0pky">Paper presentation</td>
    <td class="tg-0pky"><a href="{{ '/assets/papers/BPM_2025_paper_348.pdf' | relative_url }}" target="_blank">Gas Management Patterns in Blockchain-enabled Process Execution</a></td>
    <td class="tg-0pky">Hassan Atwi and Cesare Pautasso</td>
  </tr>
  <tr>
    <td class="tg-fymr">16:30-16:45</td>
    <td class="tg-0pky">Lightning Talk</td>
    <td class="tg-0pky"><a href="{{ '/assets/papers/BPM_2025_paper_424.pdf' | relative_url }}" target="_blank">A Methodology for Extracting and   Decoding Smart Contracts Data</a></td>
    <td class="tg-0pky">Flavio Corradini, Alessandro Marcelletti, Andrea Morichetta and Barbara Re</td>
  </tr>
  <tr>
    <td class="tg-fymr">16:45-17:00</td>
    <td class="tg-0pky">Lightning Talk</td>
    <td class="tg-0pky"><a href="{{ '/assets/papers/BPM_2025_paper_425.pdf' | relative_url }}" target="_blank">Compliance Checking For Decentralized   Applications</a></td>
    <td class="tg-0pky">Flavio Corradini, Alessio Galassi, Alessandro Marcelletti and Barbara Re</td>
  </tr>
</tbody></table>